table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

th, td{
    border: 1px solid #a79999;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.api_images{
    width: 50px;
    transition: transform  0.3s ease;
    object-fit: cover;
}

.api_images:hover{
    transform: scale(2);
}

.card{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-body{
    display: flex;
    width: 70%;
    box-shadow: 5px 5px 15px rgb(124, 122, 122);
}

.card-body img{
    width: 30%;
    height: 200px;
    margin-top: 10px;
    margin-right: 10px;
}